Repository hyperspy/holospy, pull requests merged in 2024-03, with the labels that each got.

#27 Add doi, improve doc
  README.md
  doc/changes.rst
  doc/citing.rst
  doc/conf.py
  doc/index.rst
  doc/intro.rst
  doc/license.rst
  pyproject.toml
Labels: documentation, status: needs review

#28 Use ruff for linting and formatting
  .github/workflows/black.yml
  .pre-commit-config.yaml
  holospy/tests/signals/test_hologram_image.py
  holospy/tests/test_non-uniform_not-implemented.py
  upcoming_changes/28.maintenance.rst
Labels: type: maintenance, status: needs review

#29 Numpy20 fixes
  holospy/reconstruct.py
  holospy/signals/hologram_image.py
  holospy/tests/signals/test_hologram_image.py
  upcoming_changes/29.maintenance.rst
Labels: type: maintenance
